spring:
  application:
    name: sketchbook-backend
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
cors:
  allowed-origin: ${ALLOWED_ORIGIN}
aws:
  accessKeyId: ${AWS_ACCESS_KEY}
  secretKey: ${AWS_SECRET_KEY}
  s3:
    bucket: ${AWS_BUCKET_NAME}
  region: ${AWS_REGION}
logging:
  level:
    root: warn
    org:
      springframework: warn
      hibernate: warn